<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="Logging" connectionString="Server=localhost;Port=3306;Database=logging;Uid=root;Pwd=test123!@#;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime executionTimeout="240" maxRequestLength="102400" enable="true" requestValidationMode="2.0" />
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<add factory="System.ServiceModel.Activation.WebServiceHostFactory" service="Logging.Services.ReportService" relativeAddress="Services/ReportService.svc" />
			</serviceActivations>
		</serviceHostingEnvironment>
	</system.serviceModel>
	<system.web.extensions>
		<scripting>
			<scriptResourceHandler enableCaching="true" enableCompression="true" />
			<webServices>
				<jsonSerialization maxJsonLength="999999999" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<appSettings></appSettings>
</configuration>