<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="MySqlDB.Read" connectionString="Server=localhost;Port=3306;Database=common;Uid=root;Pwd=test123!@#;" providerName="System.Data.SqlClient" />
    <add name="MySqlDB.Write" connectionString="Server=localhost;Port=3306;Database=common;Uid=root;Pwd=test123!@#;" providerName="System.Data.SqlClient" />
    <add name="BookingDB" connectionString="Server=localhost;Port=3306;Database=booking;Uid=root;Pwd=test123!@#;" providerName="System.Data.SqlClient" />
    <add name="Logging" connectionString="Server=localhost;Port=3306;Database=logging;Uid=root;Pwd=test123!@#;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IsMockProvider" value="Account:N|Authentication:N|Booking:N|Bus:N|Inventory:N"/>
    <add key="CustomerCareEmail" value="noreply@busswitch.com" />
    <add key="CustomerCareUsername" value="noreply@busswitch.com" />
    <add key="CustomerCarePassword" value="test123!@#" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="IsSmtpSslEnabled" value="Y" />
    <add key="EmailTemplatesPath" value="D:\GIT\twm\TravelWithMe\TravelWithMe\Templates\Email\" />
    <add key="BaseSiteUrl" value="http://localhost:8971" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="get/AccountService.svc" service="TravelWithMe.API.Services.ServiceImplementation.AccountService" />
        <add relativeAddress="get/SessionService.svc" service="TravelWithMe.API.Services.ServiceImplementation.SessionService" />
        <add relativeAddress="get/BusService.svc" service="TravelWithMe.API.Services.ServiceImplementation.BusService" />
        <add relativeAddress="get/InventoryService.svc" service="TravelWithMe.API.Services.ServiceImplementation.InventoryService" />
        <add relativeAddress="get/BookingService.svc" service="TravelWithMe.API.Services.ServiceImplementation.BookingService" />
        <add relativeAddress="get/ContentService.svc" service="TravelWithMe.API.Services.ServiceImplementation.ContentService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings></bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" />
        </behavior>
        <behavior name="Default">
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint maxReceivedMessageSize="4194304" maxBufferSize="4194304" maxBufferPoolSize="0">
          <readerQuotas maxStringContentLength="4194304" maxArrayLength="4194304" maxDepth="4194304" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service name="TravelWithMe.API.Services.ServiceImplementation.AccountService">
        <endpoint address="mex" kind="mexEndpoint" />
        <endpoint kind="webHttpEndpoint" contract="TravelWithMe.API.Services.ServiceContract.IAccountService" behaviorConfiguration="web" />
      </service>
      <service name="TravelWithMe.API.Services.ServiceImplementation.SessionService">
        <endpoint address="mex" kind="mexEndpoint" />
        <endpoint kind="webHttpEndpoint" contract="TravelWithMe.API.Services.ServiceContract.ISessionService" behaviorConfiguration="web" />
      </service>
      <service name="TravelWithMe.API.Services.ServiceImplementation.BusService">
        <endpoint address="mex" kind="mexEndpoint" />
        <endpoint kind="webHttpEndpoint" contract="TravelWithMe.API.Services.ServiceContract.IBusService" behaviorConfiguration="web" />
      </service>
      <service name="TravelWithMe.API.Services.ServiceImplementation.InventoryService">
        <endpoint address="mex" kind="mexEndpoint" />
        <endpoint kind="webHttpEndpoint" contract="TravelWithMe.API.Services.ServiceContract.IInventoryService" behaviorConfiguration="web" />
      </service>
      <service name="TravelWithMe.API.Services.ServiceImplementation.BookingService">
        <endpoint address="mex" kind="mexEndpoint" />
        <endpoint kind="webHttpEndpoint" contract="TravelWithMe.API.Services.ServiceContract.IBookingService" behaviorConfiguration="web" />
      </service>
      <service name="TravelWithMe.API.Services.ServiceImplementation.ContentService">
        <endpoint address="mex" kind="mexEndpoint" />
        <endpoint kind="webHttpEndpoint" contract="TravelWithMe.API.Services.ServiceContract.IContentService" behaviorConfiguration="web" />
      </service>
    </services>
    <client />
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="true" enableCompression="true" />
      <webServices>
        <jsonSerialization maxJsonLength="999999999" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
