<div id="popupDialog" style="display: none; position: absolute; z-index: 10; border: 1px solid red;
    margin: 10px; background-color: #FBFDB8">
    <table>
        <tbody>
            <tr>
                <th colspan="2" >
                    <b>Booking Details</b>
                </th>
            </tr>
            <tr>
                <td>
                    Booking Id:
                </td>
                <td>
                    {$T.seatPopupDetails.BookingId}
                </td>
            </tr>
            <tr>
                <td>
                    Booked Seats:
                </td>
                <td>
                    {$T.seatPopupDetails.BookedSeats}
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <th colspan="2">
                    <b>Passengers Details</b>
                </th>
            </tr>
            {#foreach $T.seatPopupDetails.Passengers as passenger}
            <tr>
                <td style="color: red">
                    Passenger {$T.passenger.PassengerId}
                </td>
            </tr>
            <tr>
                <td>
                    Passenger Name:
                </td>
                <td>
                    {$T.passenger.FirstName+" "+$T.passenger.LastName}
                </td>
            </tr>
            <tr>
                <td>
                    Gender:
                </td>
                <td>
                    {$T.passenger.Gender}
                </td>
            </tr>
            <tr>
                <td>
                    Age:
                </td>
                <td>
                    {$T.passenger.Age}
                </td>
            </tr>
            <br />
            {#/for}
        </tbody>
    </table>
</div>
