<table>
    <tbody>
        <tr>
            <td>
                <img alt="" src="{BaseSiteUrl}/Styles/images/logo.png" />
            </td>
            <td align="right">
                <font size="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                </font>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
    </tbody>
</table>
<table width="100%" border="0">
    <tbody>
        <tr>
            <td colspan="3">
                <br />
            </td>
        </tr>
        <tr>
            <td>
                Hi {user},<br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                Welcome to&nbsp; BusSwitch! Your BusSwitch account has been created. Your User Id is
                <a href="mailto:{email}" target="_blank">{email}</a><br />
            </td>
        </tr>
        <tr>
            <td>
                Your BusSwitch account password is <strong>{password}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;<br />
                So get ready to set off on an amazing journey with us.
                <br />
                <br />
                Thanks for choosing BusSwitch.<br />
                <br />
                <br />
                <br />
                Warm Regards,<br />
                <br />
                Team BusSwitch<br />
                <span style="">Email:&nbsp;</span><span style="color: rgb(51,51,255); text-decoration: underline">
                    <a href="mailto:support@busswitch.com" target="_blank">support@busswitch.com</a><br />
                </span>
                <!--Phone: +91 9720 10 10 10 (Standard
                        STD / Local charges apply) -->
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
            <td style="text-align: left">
                <a>
                    <br />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <a></a>
            </td>
            <td>
                <a>
                    <br />
                </a>
            </td>
        </tr>
    </tbody>
</table>
<table>
    <tbody>
        <tr>
            <td>
                <hr style="min-height: 1px">
            </td>
        </tr>
        <tr>
            <td>
                <font size="1"><b>Please retain this email for your records.</b></font>
            </td>
        </tr>
        <tr>
            <td>
                <font size="1"><b>BusSwitch Software Consulting Pvt. Ltd.</b></font>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><font size="1">Answers to frequently asked questions can be found at <a href="{BaseSiteUrl}/faqs.aspx"
                        target="_blank">{BaseSiteUrl}/faqs.aspx</a></font> </li>
                    <li><font size="1">BusSwitch's Terms of Use and Service can be found at <a href="{BaseSiteUrl}/TermsofUse.aspx"
                        target="_blank">{BaseSiteUrl}/TermsofUse.aspx</a></font> </li>
                    <li><font size="1">BusSwitch respects your privacy. Information about our privacy policy
                        can be found at <a href="{BaseSiteUrl}/Privacy.aspx" target="_blank">{BaseSiteUrl}/Privacy.aspx</a>
                    </font></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <font size="1">&nbsp;© {year} BusSwitch Software Consulting Pvt. Ltd.
                    <br />
                </font>
            </td>
        </tr>
        <tr>
            <td>
                <font size="1"><a href="{BaseSiteUrl}" target="_blank">{BaseSiteUrl}</a></font>
            </td>
        </tr>
    </tbody>
</table>
