<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title></title>
</head>
<body>
    <div style="background: #cccccc; margin: 0; width: 100%">
        <div style="margin: 0px auto; width: 575px; padding: 30px 0 0px 0">
            <div style="min-height: 10px; border-radius: 10px 10px 0 0; background-color: #ffffff">
            </div>
            <div style="background-color: #ffffff">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="font-size: 22px; font-weight: bold" bgcolor="#ffffff">
                                <h1 style="padding-left: 20px; padding-top: 0px; font-size: 24px">
                                    BusSwitch deals are here
                                </h1>
                            </td>
                            <td style="text-align: right; padding-right: 20px; padding-top: 15px" bgcolor="#ffffff">
                                <h2>
                                    <img width="168px" height="67px" alt="BusSwitch" src="http://www.BusSwitch.com/Styles/images/logo.png">
                                </h2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 0 30px 20px 25px">
                                <p style="margin-bottom: 10px; font-size: 15px">
                                    Hi,</p>
                                <p style="margin: 10px 0; line-height: 23px; font-size: 15px">
                                    Thank you for using BusSwitch's online air ticket waitlist services.</p>
                                <p style="font-size: 12px; color: #666666; padding-top: 10px; margin-top: 10px">
                                    Flight deals for your request below are available. Click <a href="{deals_url}"
                            target="_blank">here to see deals</a> after {time} today.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px 10px 0px 25px; vertical-align: top">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 13px; color: #666666; font-weight: bold; letter-spacing: -0.2px">
                                                Your request details
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #eeeeee;
                                                    padding-bottom: 20px">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 13px">
                                                                {from} → {to}<div style="font-size: 11px; color: #999999; margin-top: 3px">
                                                                    {date}</div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 13px; color: #666666; font-weight: bold; padding-bottom: 10px;
                                                letter-spacing: -0.2px; padding-top: 15px">
                                                Travellers
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-bottom: 10px">
                                                    <tbody>
                                                        {travellers}                                                   
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="20px" colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="min-height: 40px; border-radius: 0 0 10px 10px; background-color: #f4f4f4">
            </div>
            <p style="line-height: 10px; padding: 20px 0; margin: 0; text-align: center; font-size: 11px;
                color: #999">
                © {year} UpCurve Software Consulting Private Limited</p>
            <div class="yj6qo">
            </div>
            <div class="adL">
            </div>
        </div>
        <div class="adL">
        </div>
    </div>
</body>
</html>
